<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @batting.playerID %>
</p>

<p>
  <strong>Yearid:</strong>
  <%= @batting.yearID %>
</p>

<p>
  <strong>League:</strong>
  <%= @batting.league %>
</p>

<p>
  <strong>Teamid:</strong>
  <%= @batting.teamID %>
</p>

<p>
  <strong>G:</strong>
  <%= @batting.G %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @batting.AB %>
</p>

<p>
  <strong>R:</strong>
  <%= @batting.R %>
</p>

<p>
  <strong>H:</strong>
  <%= @batting.H %>
</p>

<p>
  <strong>Twob:</strong>
  <%= @batting.twoB %>
</p>

<p>
  <strong>Threeb:</strong>
  <%= @batting.threeB %>
</p>

<p>
  <strong>Hr:</strong>
  <%= @batting.HR %>
</p>

<p>
  <strong>Rbi:</strong>
  <%= @batting.RBI %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @batting.SB %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @batting.CS %>
</p>

<%= link_to 'Edit', edit_batting_path(@batting) %> |
<%= link_to 'Back', battings_path %>
